<style>
    body {
        width: 1100px;
        margin: auto;
        margin-bottom: 3em;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    table {
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid blue;
    }

    th,
    td {
        padding: 2px;
    }

    .small-text {
        width: 3em;
    }

    .error {
        color: orangered;
    }
</style>

<h1>raw SEL viewer</h1>
A raw SEL file is downloaded from BMC web, with name like "<strong>RawSELLog</strong>". Drag the raw SEL file here:
<input type="file" id="raw_file" multiple />
<div id='app'>
    <p v-if="emsg" class="error">
        {{ emsg }}
    </p>
    <p>
        <b>Timezone:</b> <input type="text" class="small-text" v-model='timezone'>
        <b>Files: </b>{{ files.length }}: {{ files.join(', ') }}
        <b>Records:</b> {{ srs.length }}
    </p>
    <table>
        <tr>
            <th>id</th>
            <th>record_type</th>
            <!-- <th>timezone</th> -->
            <th>timestamp</th>
            <th>generator</th>
            <!-- <th>event_receiver</th> -->
            <th>sensor_type</th>
            <th>sensor_num</th>
            <th>event_dir</th>
            <th>event_type</th>
            <th>event</th>
            <th>event_data23</th>
            <th>event_data2</th>
            <th>event_data3</th>
        </tr>
        <tr v-for='sr in srs'>
            <td>{{sr.id}}</td>
            <td>{{sr.record_type}}</td>
            <!-- <td>{{sr.timezone}}</td> -->
            <td>{{sr.timestamp}}</td>
            <td>{{sr.generator}}</td>
            <!-- <td>{{sr.event_receiver}}</td> -->
            <td>{{sr.sensor_type}}</td>
            <td>{{sr.sensor_num}}</td>
            <td>{{sr.event_direction}}</td>
            <td>{{sr.event_type}}</td>
            <td>{{sr.event}}</td>
            <td>{{sr.event_data23}}</td>
            <td>{{sr.event_data2}}</td>
            <td>{{sr.event_data3}}</td>
        </tr>
    </table>
</div>

<script data-main="app.js" src="require.js"></script>